@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@theme {
  --default-font-family: "Roboto", sans-serif;
  --default-font-color: #001019;
  --font-lora: "Lora", serif;
  --font-manrope: "Manrope", sans-serif;
  --color-primary-blue: #1992D4;
  --color-light-blue: #B5DBFF;
  --color-lighter-blue: #F0FAFF;
  --color-off-white: #F7F7F7;
  --color-silver-gray: #F0F8FF;
  
  --color-gray-1: #CFCFCF;
  --color-gray-3: #7E7E7E;
  --color-black: #001019;
  --color-green: #61D419;
  --animation: { 'pulse-slow': 'pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite' }
}



.scrollbar-hide {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}